.productList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.productCard {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    margin: 16px;
    max-width: 300px;
    padding: 8px;
}