.nav {
  padding: 8px;
  width: 100vw;

  ul {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    align-items: center;
    display: flex;
    padding: 4px 8px;
    margin: 0 8px;
    min-height: 56px;

    &:before,
    &:after {
      border: none;
    }
  }
}

.cartItems {
  position: relative;
}

.itemCount {
  align-items: center;
  background: rgb(227, 228, 227);
  border-radius: 50%;
  bottom: -8px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: -8px;
  min-width: 20px;
}
